.checkout {
  background-color: white;
  color: black;
  display: flex;
}

.c-body {
  width: 100%;
  margin-top: 1rem;
}

.card-face {
  background-color: green;
  width: 50%;
  margin: 1rem auto;
  border-radius: 2rem;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  background-color: #f2eeee;
  box-shadow: 0rem 0rem 0.4rem rgb(179, 177, 177);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.card-body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns:70% 20%;
  grid-row-gap: 2rem;
  grid-column-gap: 10%;
  margin-top: 2rem;
  padding: 0 1rem;
  padding-bottom: 5rem;
}

.card-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-name {
  background-color: #FFF2C8;
  padding: .3rem .4rem;
  border-radius: 1rem;
  border:.1rem solid white;
  margin-left: .2rem;
}
.card-text {
  display: flex;
  text-align: right;
}

.card-input input {
  display: flex;
  height: 3rem;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  margin-top: .5rem;
  outline: none;
}
