html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  overflow-x: hidden;
}

.HomePage {
  background: linear-gradient(to bottom, #eba3ba, #aa83f8);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .HomePage {
    background: linear-gradient(to top, #eba3ba, #aa83f8);
    /* height: 100%; */
  }
}

/* HEADER */
.header {
  display: flex;
  min-height: 5rem;
  padding: 1rem 0rem;
  background-color: #cab4e9;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    margin: 0rem;
    justify-content: space-around;
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    display: block;
    padding: 0rem 1rem;
    background: linear-gradient(to bottom, #aa83f8, #aa83f8);
  }
}

.logo-icon {
  margin: 0 5rem 0 3rem;
}

@media screen and (max-width: 425px) {
  .logo-icon {
    display: none;
  }
}

.search {
  display: grid;
  grid-template-columns: 20% 72% 8%;
  grid-template-rows: 3rem;
  position: relative;
  background-color: white;
  height: 3rem;
  text-align: left;
  align-items: center;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .search {
    margin: 0 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    grid-template-rows: 2rem;
    height: 2rem;
    margin: 2rem auto;
  }
}

.icon-grid {
  background-color: #ffb900;
  border-radius: 0.6rem;
  text-align: center;
  height: 3rem;
}

@media screen and (max-width: 425px) {
  .icon-grid {
    border-radius: 0.6rem;
    height: 100%;
    width: 2.5rem;
  }
}

.category {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding-left: 10%;
  font-family: "montserrat";
}

@media screen and (max-width: 425px) {
  .category {
    display: none;
  }
}

.searchItems {
  width: 100%;
  height: 10%;
  padding: 1rem;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
}

@media screen and (max-width: 425px) {
  .searchItems {
    padding: 0 0rem 0 0.2rem;
    width: 100%;
  }
}

.searchItems::placeholder {
  transform: translateX(50%);
  font-size: 0.9rem;
  font-family: "montserrat";
}

@media screen and (max-width: 425px) {
  .searchItems::placeholder {
    transform: translateX(0%);
    font-size: 0.7rem;
  }
}

.SearchIcon {
  border-radius: 0.6rem;
  padding: 0.7rem 0.4rem;
}

.svg-icon {
  width: 50%;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .svg-icon {
    width: 80%;
    padding: 0;
    margin-top: 0.2rem;
  }
}
.other-icons {
  display: flex;
  width: 10%;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .other-icons {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .itemSearch {
    width: 100%;
    margin: 0 1rem;
  }
}

/* NAVIGATION */

.navigation {
  margin: 0 1rem;
  background-color: #7b53c1;
  border-radius: 0.4rem;
  padding: 0.5rem 0;
  display: flex;
  padding: 1rem 0 1rem 5rem;
}

@media screen and (max-width: 425px) {
  .navigation {
    display: none;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

@media screen and (max-width: 425px) {
  .nav-list {
    display: none;
  }
}

.nav-list ul li {
  display: inline-block;
}

.nav-links {
  margin: 0 0.3rem;
  font-weight: 700;
}

.nav-links:hover {
  color: white;
}

.other-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .other-pages {
    display: none;
  }
}
.page-link {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  font-size: 0.8rem;
}

.link-icon {
  display: flex;
  margin-left: 0.5rem;
}
.active {
  color: white;
}

.dot_group {
  display: none;
}

@media screen and (max-width: 425px) {
  .dot_group {
    display: block;
    margin: 5rem auto 3rem auto;
  }
}

/* MAIN TEXT */
main {
  margin-top: 8rem;
  display: flex;
  height: 18rem;
}

@media screen and (max-width: 425px) {
  main {
    display: none;
  }
}
.text {
  text-align: left;
  margin: 0 0 0 5rem;
  width: 50%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .text {
    margin: 0 0 0 2rem;
    width: 50%;
  }
}
.text-1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin: 0 0 2rem 0;
  letter-spacing: -0.05rem;
}

@media screen and (max-width: 768px) {
  .text-1 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin: 0 0 2rem 0;
    letter-spacing: -0.05rem;
  }
}

main .text span {
  color: black;
}

.text-2 {
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .text-2 {
    font-size: 0.8rem;
  }
}

.homeImage {
  transform: translateY(35%);
}

@media screen and (max-width: 768px) {
  .homeImage {
    height: 15rem;
  }
}

/* MOBILE MAIN */
.mobile-main {
  display: none;
}

@media screen and (max-width: 425px) {
  .mobile-main {
    display: block;
    margin-top: 5rem;
    color: white;
  }

  .mobile-icon {
    width: 120;
    height: 120;
  }

  .agrico {
    font-size: 1.5rem;
  }

  .agrico span {
    font-size: 2rem;
  }

  .mini-text-head {
    border-top: 0.1rem solid white;
    padding: 0.5rem 0;
    margin: 3rem 5rem 0.2rem 5rem;
    font-weight: 400;
  }

  .mini-text-body {
    color: black;
    margin: 0 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.7rem;
  }
}
/* FOOTER */

.footer {
  display: grid;
  grid-row-gap: 1rem;
  margin-top: 1rem;
  margin-left: 5rem;
  padding-bottom: 6.5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-row-gap: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 2rem;
  }
}

.shop {
  outline: none;
  border: none;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  font-weight: 600;
  font-family: "montserrat";
  font-size: 1rem;
  width: 15%;
  background: linear-gradient(to left, #ffb900, #efe63f);
}

@media screen and (max-width: 768px) {
  .shop {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .shop {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    color: white;
    margin: 0 auto;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 18%;
}

@media screen and (max-width: 768px) {
  .contact {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .contact {
    display: none;
  }
}
